// NAVBAR SECTION //

@media(max-width: 800px) {
    .nav-bar-nav ul {
        width: 80%;
        margin-left: 10%;
    }
}
@media(max-width: 560px) {
    .nav-bar-nav ul {
        width: 90%;
        margin-left: 2%;
    }
}
@media(max-width: 450px) {
    .nav-bar-nav .name-logo {
        margin-left: 42%;
    }
}

// SKILLS SECTION //



// ABOUT ME SECTION //
@media(max-width:1267px) {
    .about-pic img {
        margin-top: 50px;
    }
}

@media(max-width: 800px) {
    .about-me-container {
        flex-direction: column;
    }
    .about-me-container .about-pic {
        width: 100%;
    }

    .about-me-container .about-text {
        width: 100%;
    }
}

@media(max-width: 450px) {
    .about-me-container .about-text button {
        margin-left: 30%;
    }
}

// TESTIMONALS SECTION //
@media(max-width: 1267px) {
    .testimonals-container h1 {
        margin-top: -225px;
    }
    .testimonals-container p {
        margin-top: 90px;
    }
    .testimonals-container img {
        margin-top: 175px;
    }
}

@media(max-width:1143px) {
    .testimonals-container p {
        font-size: 0.875rem;
    }
    .testimonals-container img {
        margin-top: 160px;
    }
}

@media(max-width: 1050px) {
    .testimonals-container h1 {
        margin-top: -240px;
    }
    .testimonals-container p {
        margin-top: 70px;
    }
    .testimonals-container img {
        margin-top: 140px;
    }
}

@media(max-width: 940px) {
    .testimonals-container p {
       font-size: 0.719rem;
    }
    .testimonals-container img {
        margin-top: 120px;
    }
}

@media(max-width: 850px) {
    .testimonals-container p {
        padding-left: 50px;
        margin-right: 30%;
        font-size: 12px;
    }
    .testimonals-container img {
        margin-left: 50%;
        margin-top: 50px;
        width: 20%;
        height: 15vh;
    }
}

@media(max-width:760px) {
    .testimonals-container p {
    margin-top: 50px;
}
.testimonals-container img {
    margin-top: 35px;
}
}

@media(max-width: 717px) {
    .testimonals-container p {
        margin-top: 25px;
    }
}

@media(max-width: 708px) {
    .testimonals-container img {
        margin-top: 20px;
    }
}

@media(max-width: 616px) {
    .testimonals-container p {
        font-size: 10px;
    }
    .testimonals-container img {
        width: 15%;
        height: 10vh;
        margin-top: 40px;
    }
}
@media(max-width:574px) {
    .testimonals-container p {
    padding-right: 0px;
    margin-top: 60px;
}
    .testimonals-container img {
        margin-left: 60%;
    }
    .testimonals-container h1 {
        margin-left: -15%;
    }
}
@media(max-width:540px) {
    .testimonals-container img {
    margin-top: 25px;
}
}
@media(max-width:481px){
    .testimonals-container p {
        font-size: 0.563rem;
    }
}
@media(max-width: 450px){
    .testimonals-container img {
        margin-top: 20px;
    }
    .testimonals-container h1 {
       margin-top: -250px;
    }
    .testimonals-container p {
        margin-top: 50px;
    }
}

// MY WORK SECTION //

// work example one //

@media(max-width: 984px) {
    .work-example-one-container {
    flex-direction: column;
}
    .work-example-one-container img {
        width: 200%;
    }
    .work-example-one-container .work-example-one-text {
        margin-top: -50px;
        width: 100%;
    }
}

@media(max-width: 700px) {
    .work-example-one-container img {
        width: 260%;
        margin-left: -25%;
    }
    .work-example-one-container p {
        width: 150%;
        margin-left: -25%;
    }
    .work-example-one-container .work-example-one-text h3 {
        margin-left: 10%;
    }
    .work-example-one-container .made-with-example-one h3 {
        margin-left: 25%;
    }
    .work-example-one-container .made-with-example-one ul {
        margin-left: -10%;
    }
}

@media(max-width: 620px) {
    .work-example-one-container .made-with-example-one ul {
        margin-left: -15%;
    }
}

@media(max-width:550px) {
    .work-example-one-container img {
        width: 325%;
        margin-left: -55%;
    }
    .work-example-one-container .made-with-example-one {
        margin-left: -50%;
    }
}

// work example two //

@media(max-width: 984px) {
    .work-example-two-container {
    flex-direction: column;
}
    .work-example-two-container img {
        width: 200%;
    }
    .work-example-two-container .work-example-two-text {
        margin-top: -50px;
        width: 100%;
    }
}

@media(max-width: 700px) {
    .work-example-two-container img {
        width: 260%;
        margin-left: -25%;
    }
    .work-example-two-container p {
        width: 150%;
        margin-left: -25%;
    }
    .work-example-two-container .work-example-two-text h3 {
        margin-left: 10%;
    }
    .work-example-two-container .made-with-example-two h3 {
        margin-left: 25%;
    }
    .work-example-two-container .made-with-example-two ul {
        margin-left: -10%;
    }
}

@media(max-width: 620px) {
    .work-example-two-container .made-with-example-two ul {
        margin-left: -15%;
    }
}

@media(max-width:550px) {
    .work-example-two-container img {
        width: 325%;
        margin-left: -55%;
    }
}

// work example three //

@media(max-width: 984px) {
    .work-example-three-container {
    flex-direction: column;
}
    .work-example-three-container img {
        width: 200%;
    }
    .work-example-three-container .work-example-three-text {
        margin-top: -50px;
        width: 100%;
    }
}

@media(max-width: 700px) {
    .work-example-three-container img {
        width: 260%;
        margin-left: -25%;
    }
    .work-example-three-container p {
        width: 150%;
        margin-left: -25%;
    }
    .work-example-three-container .work-example-three-text h3 {
        margin-left: 10%;
    }
    .work-example-three-container .made-with-example-three h3 {
        margin-left: 25%;
    }
    .work-example-three-container .made-with-example-three ul {
        margin-left: -10%;
    }
}

@media(max-width: 620px) {
    .work-example-three-container .made-with-example-three ul {
        margin-left: -15%;
    }
}

@media(max-width:550px) {
    .work-example-three-container img {
        width: 325%;
        margin-left: -55%;
    }
}

// CONTACT SECTION //

@media(max-width:800px) {
    .contact-container {
        flex-direction: column;
    }
    .contact-container .contact-text {
        width: 225%;
        text-align: center;
    }
    .contact-container .contact-right-side form {
        width: 200%;
    }
    .contact-container .contact-text h4 {
        margin-left: 40%;
    }
    .contact-container .contact-text .contact-text-logos {
        padding-bottom: 35px;
    }
}

@media(max-width:450px) {
    .contact-container .contact-right-side button {
        margin-left: 35%;
    }
}

